Package: com.ele.domainredirect
Name: DomainRedirect
Depends: firmware (>= 11.0), mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Redirect 1437378358.cn to custom server for FengNiao apps
Maintainer: yourname
Author: yourname
Section: Tweaks
